{{> errorValidation}}
{{> errorAuth}}

<div class="col">
    <form action="/auth/signup" method="POST">
        <div class="form-control">
            <label for="name" class="form-label">Nombre de Usuario</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Ingrese su nombre de usuario">
        </div>
        <div class="form-control">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com">
        </div>
        <div class="form-control">
            <label for="password" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="name@example.com">
        </div>
        <div class="form-control">
            <label for="confirm_password" class="form-label">Confirme su contraseña</label>
            <input type="password" class="form-control" id="confirm_password" name="confirm_password" placeholder="name@example.com">
        </div>
        <button class="btn btn-warning">Signup</button>
    </form>
</div>