<a href="/category/{{this.slug}}" class="col text-center category_link">
  <div class="category_img shadow">
    <img src="img/{{this.image}}" alt="{{this.name}}" />
  </div>
  <div class="pt-1">{{this.name}}</div>
</a>