{{#if todo_ok}}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{todo_ok}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{{/if}}