{{> errorAlert}}
{{> errorValidation}}

<h2 class="animate__animated animate__fadeInUp">Edita tu Post</h2>

<form action="/posts/{{post._id}}?_method=PUT" enctype="multipart/form-data" method="POST" class="my-4 animate__animated animate__fadeInUp" id="editForm">
    {{> form}}
</form>