{{> errorAlert}}
{{> errorValidation}}

<h2>Edita tu Post</h2>

<form action="/posts/{{post._id}}?_method=PUT" enctype="multipart/form-data" method="POST" class="my-4" id="editForm">
    {{> form}}
</form>