{{> errorAlert}}
{{> errorValidation}}

<h2 class="animate__animated animate__fadeInUp">Creando Post</h2>

<form action="/posts" enctype="multipart/form-data" method="POST" class="my-4 animate__animated animate__fadeInUp" id="createForm" >
    {{> form}}
</form>
