<div class="row flex-lg-row-reverse align-items-center g-5 py-4 mb-4">
    <div class="col-12 col-lg-6">
        <img src="/img/louis-hansel-cH5IPjaAYyo-unsplash.jpg" class="d-block mx-lg-auto img-fluig rounded-circle" alt="Restaurant">
    </div>

    <div class="col-12 col-lg-6">
        <h1 class="display-5 fw-bold mb-3">Recomendaciones de restaurantes en Argentina</h1>
        <h2 class="h4">Las reseñas que necesitas antes de comer en un nuevo restaurante</h2>
        <p class="lead">
            Cuando quires probar algo nuevo, puede ser difícil encontrar un lugar que tenga lo que estas buscando. Afortunadamente, con nuestras reseñas te brindamos información acerca de los restaurantes en su área.
        </p>
    </div>

    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a href="/explore-latest" class="btn btn-primary btn-dark btn-lg px-4 me-md-2">Últimas resañas</a>
        <a href="/random-restaurant" class="btn btn-outline-secondary btn-lg px-4 me-md-2">Busqueda aleatoria</a>
    </div>
</div>

<!-- Categorias -->

<section class="row row-cols-2 row-cols-lg-6 g-2 g-lg-3 py-4">

    <a href="#" class="col text-center category_link">
        <div class="category_img shadow">
            <img src="img/fast-food.jpg" alt="Fast Food" loading="lazy">
        </div>
        <div class="pt-1">Fast Food</div>
    </a>

    <a href="#" class="col text-center category_link">
        <div class="category_img shadow">
            <img src="img/fast-food.jpg" alt="Fast Food" loading="lazy">
        </div>
        <div class="pt-1">Fast Food</div>
    </a>

    <a href="#" class="col text-center category_link">
        <div class="category_img shadow">
            <img src="img/fast-food.jpg" alt="Fast Food" loading="lazy">
        </div>
        <div class="pt-1">Fast Food</div>
    </a>

    <a href="#" class="col text-center category_link">
        <div class="category_img shadow">
            <img src="img/fast-food.jpg" alt="Fast Food" loading="lazy">
        </div>
        <div class="pt-1">Fast Food</div>
    </a>

    <a href="#" class="col text-center category_link">
        <div class="category_img shadow">
            <img src="img/fast-food.jpg" alt="Fast Food" loading="lazy">
        </div>
        <div class="pt-1">Fast Food</div>
    </a>

    <a href="#" class="col text-center category_link">
        <div class="category_img shadow">
            <img src="img/view-all.png" alt="Fast Food" loading="lazy">
        </div>
        <div class="pt-1">Ver Todos</div>
    </a>

</section>

<!-- Fin Categorias -->

<!-- Latest -->
<section class="my-5">
    <div class="d-flex mb-2 align-items-center">
        <h2>Últimas resañas</h2>
        <a href="/expore-latest" class="ms-auto">Ver más</a>
    </div>
    
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
            <div class="card post_card">
                <div class="card_image">
                    <img src="img/fast-food.jpg" class="card-img-top" alt="post image">
                </div>
                <div class="card-body">
                    <h3 class="card-title">Card title</h3>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero facilis minima sapiente amet architecto, id cum reprehenderit rerum mollitia, laborum suscipit porro nobis eos enim sequi nostrum. Mollitia eveniet iste at vero nulla. Rem enim cupiditate id deleniti quia optio, molestias adipisci sequi deserunt voluptatum ratione impedit aliquam earum nam...</p>
                    <a href="" class="link-primary d-flex justify-content-end">Leer más</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card post_card">
                <div class="card_image">
                    <img src="img/buffet.jpg" class="card-img-top" alt="...">
                </div>
                <div class="card-body">
                    <h3 class="card-title">Card title</h3>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta mollitia aut autem cum! Distinctio, molestiae. Repellat, iste dolor. Fuga illo cupiditate sit nam, itaque voluptas perferendis veritatis a maiores ipsam ipsum animi, at dolore praesentium. Similique aliquam eaque repudiandae voluptatem animi aut exercitationem. Earum voluptatibus eius sit totam sapiente optio...</p>
                    <a href="" class="link-primary d-flex justify-content-end">Leer más</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card post_card">
                <div class="card_image">
                    <img src="img/gourmet.jpg" class="card-img-top" alt="...">
                </div>
                <div class="card-body">
                    <h3 class="card-title">Card title</h3>
                    <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam, labore ipsa architecto obcaecati, dolore fugit quibusdam ipsum eligendi voluptatum reprehenderit cupiditate delectus? Nostrum nulla, eligendi facere iure enim consectetur provident laudantium a amet soluta veniam quod culpa laborum quasi tempore voluptatem cupiditate deleniti maxime. Voluptate quos ea et quo autem!...</p>
                    <a href="" class="link-primary d-flex justify-content-end">Leer más</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card post_card">
                <div class="card_image">
                    <img src="img/take-away.jpg" width="" class="card-img-top" alt="...">
                </div>
                <div class="card-body">
                    <h3 class="card-title">Card title</h3>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem nisi sequi hic. Eius accusantium similique, qui amet doloribus sunt quaerat deleniti consequatur. Nemo facilis autem quas. Iure quam accusantium iusto excepturi sapiente aut dolores in aliquid accusamus earum, nihil perferendis, praesentium nam ipsa ullam. Quod nam animi magnam aperiam labore!...</p>
                    <a href="" class="link-primary d-flex justify-content-end">Leer más</a>
                </div>
            </div>
        </div>
    </div>
    
</section>

<!-- Latest -->