<h2>Creando Post</h2>

<form action="/posts" method="post">
    <div class="form-control">
        <label for="title" class="form-label">Título</label>
        <input type="text" class="form-control" id="title" name="title" placeholder="Ingrese el titulo del post">

        <label for="body" class="form-label">Cuerpo</label>
        <textarea class="form-control" id="body" name="body" rows="3"></textarea>

        <button class="btn btn-primary mt-4">Enviar</button>
    </div>
</form>