<h2>Creando Post</h2>

<form action="/posts" method="POST" class="my-4 needs-validation" id="createForm" novalidate>
    <div class="form-control bg-light">
        <div class="form-group">
            <label for="title" class="form-label mt-4 fw-bold">Título</label>
            <input type="text" class="form-control" id="title" name="title" required>
            <div class="invalid-feedback">
                Ingrese un título al post.
            </div>
        </div>
        
        <div class="form-group">
            <label for="body" class="form-label mt-4 fw-bold">Cuerpo</label>
            <textarea class="form-control" id="body" name="body" rows="3" minlength="500" required></textarea>
            <div class="invalid-feedback">
                Ingrese el cuerpo del post.
            </div>
        </div>
        
        <div class="form-group">
            <label for="category" class="form-label mt-4 fw-bold">Categoría</label>
            <input type="text" class="form-control" id="category" name="category" pattern="[A-Za-z]{4,10}" required>
            <div class="invalid-feedback">
                Ingrese una categoría para el post
            </div>
        </div>
        
        <div class="form-group">
            <label for="image" class="form-label mt-4 fw-bold">Ingrese la URL de la imagen</label>
            <input class="form-control" type="text" id="image" name="image" pattern="^(http(s)?:\/\/)+[\w\-\._~:\/?#[\]@!\$&'\(\)\*\+,;=.]+$" required>
            <div class="invalid-feedback">
                Ingrese la url de la imagen
            </div>
        </div>

        <button class="btn btn-success my-4" id="sendEdit">Enviar</button>
    </div>
</form>
