body {
    background-color: bisque;
}

.container-xxl {
    max-width: 1550px;
}

a {
    color: var(--bs-dark);
}

/*Loader*/
.loader-page {
    position: fixed;
    z-index: 25000;
    background: bisque;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition:all .3s ease;
  }
  .loader-page::before {
    content: "";
    position: absolute;
    border: 2px solid rgb(50, 150, 176);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-sizing: border-box;
    border-left: 2px solid rgba(50, 150, 176,0);
    border-top: 2px solid rgba(50, 150, 176,0);
    animation: rotarload 1s linear infinite;
    transform: rotate(0deg);
  }
  @keyframes rotarload {
      0%   {transform: rotate(0deg)}
      100% {transform: rotate(360deg)}
  }
  .loader-page::after {
    content: "";
    position: absolute;
    border: 2px solid rgba(50, 150, 176,.5);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-sizing: border-box;
    border-left: 2px solid rgba(50, 150, 176, 0);
    border-top: 2px solid rgba(50, 150, 176, 0);
    animation: rotarload 1s ease-out infinite;
    transform: rotate(0deg);
  }

/*Category Card*/
.category_link {
    text-align: center;
    display: block;
    text-decoration: none;
    transition: 250ms all;
}

.category_link:hover {
    transform: scale(1.1);
}

.category_img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin-bottom: 10px;
    box-shadow: 0px 3px 6px rgba(0,0,0,2);
    overflow: hidden;
    border-radius: 10px;
}

.category_img img {
    width: 100%;
    object-fit: cover;
}

/*Post Card*/

.post_card {
    overflow: hidden;
}

.card_image {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 400px;
    overflow: hidden;
}

.card_image img {
    width: 100%;
    object-fit: cover;
}

#category {
    color: #E3C770; 
}

/* post */

