<h1 class="pb-4 animate__animated animate__fadeInUp">Ver Categorias</h1>

<div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3 mb-4 animate__animated animate__fadeInUp">
    {{#each categories}}
        {{> categoryCard}}
    {{/each}}
</div>